---
import Layout from "../layouts/Layout.astro";

let sandcolorText =
  " bg-gradient-to-r from-red-500 to-orange-400 text-transparent bg-clip-text";
---

<Layout title="About">
  <div class="mt-20 text-center">
    <div
      class={"text-4xl md:text-5xl drop-shadow-glow font-bold p-1" +
        sandcolorText}>
      About me
    </div>
  </div>
  <div class="flex flex-col items-center px-8 mt-10">
    <div class={"max-w-xl text-lg text-orange-300 drop-shadow-glow"}>
      <p class="mb-4">
        Hello! My name is Farhan Mahbub. I am a Computer Science student
        attending the University of Central Florida.
      </p>
      <p>
        I am interesting in pursuing a career in software engineering. More
        specifically, I want to get into full-stack web development and machine
        learning. I am currently learning React and Tailwind CSS which is what I
        used to create this website.
      </p>
    </div>
  </div>
</Layout>
