---
import Layout from "../layouts/Layout.astro";

let sandcolorText =
  " bg-gradient-to-r from-red-500 to-orange-400 text-transparent bg-clip-text";

let projects =
  " text-pink-950 bg-gradient-to-r from-red-500 to-orange-400 rounded-xl shadow-lg p-4 ease-in-out hover:scale-105 hover:drop-shadow-glow duration-200 max-w-lg";
---

<Layout title="Projects">
  <div class="mt-20 flex flex-col items-center">
    <div
      class={"text-4xl md:text-5xl drop-shadow-glow font-bold h-min p-1" +
        sandcolorText}>
      Projects
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10 gap-x-10 gap-y-10 px-8">
      <div class={projects}>Project1</div>
      <div class={projects}>Project2</div>
      <div class={projects}>Project3</div>
      <div class={projects}>Project4</div>
    </div>
  </div>
</Layout>
