---
import Layout from "../layouts/Layout.astro";

let sandcolorText =
  " bg-gradient-to-r from-red-500 to-orange-400 text-transparent bg-clip-text";

let projects =
  " text-pink-950 bg-gradient-to-r from-red-500 to-orange-400 rounded-xl p-4 ease-in-out hover:scale-105 hover:drop-shadow-glow duration-200 max-w-lg";
---

<Layout title="Projects">
  <div class="flex flex-col h-screen justify-center items-center">
    <div
      class={"text-4xl md:text-5xl drop-shadow-glow font-bold p-1" +
        sandcolorText}>
      Projects
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10 gap-x-10 gap-y-10 px-8 text-center">
      <a href="/projects/findmyprofessor" class={"font-bold" + projects}>
        Find My Professor
      </a>
      <a href="/projects/stocksprediction" class={"font-bold" + projects}>
        Stocks Prediction
      </a>
      <a href="/projects/groceryapp" class={"font-bold" + projects}>
        Grocery App
      </a>
    </div>
  </div>
</Layout>
