---
import Navbar from "../components/Navbar";
import "../index.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="bg-pink-950 text-orange-300 font-mono">
    <div class="fixed top-0 w-full backdrop-blur">
      <Navbar client:load />
    </div>
    <slot />
  </body>
</html>
